/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body.light-theme {
  --background-primary: #333;
  --background-secondary: #292929;
  --background-tertiary: #fff;
  --background-quaternary: rgb(231 231 231);
  --font-primary: #fff;
  --font-secondary: #202020;
  --active: #d93800;
  --side-menu: rgb(40 40 40 / 50%);
  --border-dark: #202020;
  --border-light: lightgray;
  --json-key-color: #2b91af;
  --json-value-color: #a31515;
  --json-punctuation-color: #393a34;
}

body.dark-theme {
  --background-primary: #333;
  --background-secondary: #292929;
  --background-tertiary: #333;
  --background-quaternary: #292929;
  --font-primary: #fff;
  --font-secondary: #fff;
  --active: #d93800;
  --side-menu: rgb(30 30 30 / 50%);
  --border-dark: #111;
  --border-light: #202020;
  --json-key-color: #fb82e8;
  --json-value-color: #6fb8ee;
  --json-punctuation-color: #ffe185;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ubuntu-regular - latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ubuntu-v15-latin-regular.woff2") format("woff2");
}

body {
  color: var(--font-primary);
  font-family: Ubuntu, sans-serif;
  line-height: 1;
}

/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.9em;
  line-height: 1.2em;
  tab-size: 4;
  hyphens: none;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

.token.namespace {
  opacity: 0.7;
}

.token.string {
  color: var(--json-value-color);
}

.token.punctuation,
.token.operator {
  color: var(--json-punctuation-color); /* no highlight */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name,
.language-json .token.property {
  color: var(--json-key-color);
}

.line-numbers .line-numbers-rows > span::before {
  color: #2b91af;
}
