/*importing font family from google fonts*/
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Slab|Merriweather');
/*Applying smooth scrolling to the document*/
 html {
     scroll-behavior: smooth;
}
 .cookie-consent {
     animation: fadein 2s;
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://shanelucy.me/images/heroImage.png);
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: whitesmoke;
     top: 0;
     left: 0;
     position: absolute;
}
 @keyframes fadein {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}
 body {
    /* height: 100%;
    */
     margin: 0;
     font-weight: 500;
     letter-spacing: 2px;
     overflow-x: hidden;
     font-family: 'Open Sans', sans-serif;
}
 p {
     font-size: 1.1rem;
}
 h1 {
     font-weight: bold;
     color: black;
     font-family: 'Merriweather', serif;
     letter-spacing: 1px;
     font-size: 3.4rem;
}
 h2 {
     border-style: solid;
     border-bottom-style: none;
     font-family: 'Josefin Slab', serif;
     color: #000000;
}
 h3 {
     font-family: 'Josefin Slab', serif;
     padding-left: 2vw;
     line-height: 1.6;
     color: black;
     font-weight: 700;
     text-align: center;
}

label {
    color: #0f0f0f;
    font-weight: bold;
}

small {
    color: #0f0f0f;
    font-weight: bold;
}

span {
    color: #0f0f0f;
    font-weight: bold;
}
/*styles for hero image */
 .hero-image {
     width: 100vw;
     height: 90vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://shanelucy.me/images/heroImage.png);
     overflow: hidden;
     background-position: center;
     background-repeat: no-repeat;
}
/*stlyes for nav bar*/
 .navbar-nav .nav-item .nav-link {
     color: #FFFFFF;
     font-size: 1.8rem;
     font-family: 'Open Sans', sans-serif;
}
 .navbar-fixed {
     background-color: #404040;
}
 .sticky{
     z-index: 1;
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #404040;
}
 main + .navbar-scroll {
     padding-top:100px;
}
 #bio {
     padding: 5vh;
}
 svg {
     border: 0;
     width: 100%;
     height: 10vw;
}
 footer {
     background-color: #868686;
     padding-bottom: 5vh;
}
 .pad-left {
     padding-left: 7vw;
}
 .pad-left-5 {
     padding-left: 5vw;
}
 a {
     font-size: 1.5rem;
     font-weight: 500;
     color: #fead16;
}
 a:hover {
     color: #000000;
     text-decoration: none;
}
/*styles for back to home arrow*/
 a>i {
     font-size: 4rem;
     color: #FFFFFF;
     text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 a>i:hover {
     color: #000000;
}
 .pad-5 {
     padding-top: 5vh;
     padding-bottom: 5vh;
}
 .pad-top {
     padding-top: 5vh;
}
 #card-footer {
     position: absolute;
}
 input {
     -webkit-appearance: none;
     appearance: none;
}
 .valid {
     border-width: medium;
     border-color: #00d900;
     webkit-box-shadow: 0 0 10px 3px #00d900;
     -moz-box-shadow: 0 0 10px 3px #00d900;
     box-shadow: 0 0 10px 3px #00d900;
}
 .invalid {
     border-width: medium;
     border-color: #ff0000;
     -webkit-box-shadow: 0 0 10px 3px #ff0000;
     -moz-box-shadow: 0 0 10px 3px #ff0000;
     box-shadow: 0 0 10px 3px #ff0000;
}
 #mobile-number {
     display: none;
}
 #ghost-nav {
     display: none;
}
/*media query for styling & displaying mobile content*/
 @media only screen and (max-width: 767px) {
     .desktop {
         display: none;
    }
     h1 {
         font-size: 2rem;
    }
     .hero-text {
         padding-top: 10vh;
    }
     .hero-image {
         background-size: cover;
         background-repeat: repeat;
         padding-top: 8vh;
         padding-bottom: 8vh;
    }
     .navbar {
         background-color: #585858;
    }
     .navbar-toggler-icon {
         background-image: url("https://shanelucy.me/images/hamburger.png")!important;
         background-color: #585858;
    }
     .navbar-nav .nav-item .nav-link {
         font-size: 1.8rem;
         color: #fead16;
    }
     #ghost-nav {
        /*The use of important here is to prevent the style {
             display inline 
        }
         from being applied to the navbar as part of the sticky navbar functionality*/
         display: none !important;
    }
     .about {
         padding-top: 8vh;
         padding-bottom: 8vh;
    }
     .yellow-shadow {
         border-color: #fead16;
         border-width: 2px;
         box-shadow: 0 5px 15px 5px #fead16;
    }
     .blue-shadow {
         box-shadow: 0 5px 15px 5px royalblue;
         border-color: royalblue;
         border-width: 2px;
    }
     .icons {
         max-height: 15vh;
         max-width: 15vw;
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .mobile {
         padding-bottom: 7vh;
    }
     a {
         color: #FFFFFF;
         font-size: 2rem;
    }
}
/*media query for styling and displaying desktop content */
 @media only screen and (min-width: 768px) {
     .mobile {
         display: none;
    }
     h1 {
         font-size: 3.8rem;
    }
     .hero-text {
         top: 30%;
         left: 20%;
    }
     .hero-image {
         background-attachment: fixed;
         background-size: cover;
    }
     .navbar-fixed {
         background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://shanelucy.me/images/heroImage.png);
         background-position: center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
    }
     .sticky{
         z-index: 1;
         position: fixed;
         top: 0;
         width: 100%;
         background-color: #404040;
    }
     main + .navbar-scroll {
         padding-top:100px;
    }
     .navbar-nav .nav-item .nav-link {
         border-style: solid;
         border-bottom-style: none;
         border-color: transparent;
         color: #fead16;
    }
     .navbar-nav .nav-item .nav-link:hover {
         border-color: #000000;
         color: #000000;
    }
     .inline {
         display: inline;
    }
     .showcase {
         padding-top: 10vh;
         padding-bottom: 10vh;
    }
     h2 {
         padding-bottom: 10vh;
    }
     .yellow-shadow {
         border-color: #fead16;
         border-width: 2px;
         box-shadow: 0 5px 10px 15px #fead16;
    }
     .blue-shadow {
         box-shadow: 0 5px 10px 15px royalblue;
         border-color: royalblue;
         border-width: 2px;
    }
    /*positioning footer components*/
     #footer {
         padding-top: 10vh;
         padding-bottom: 10vh;
         text-align: center;
    }
    /*padding used for layout purposes*/
     #contact {
         padding-top: 10vh;
    }
    /*Setting sizes of social media icons*/
     .icons {
         max-height: 10vh;
         max-width: 10vw;
    }
}
